@media (max-width: 1200px) {
  #header .header--burger__lineBurger div {
    display: none;
  }
  #design .design--circle {
    right: 27%;
    max-width: 43%;
  }
  #header .header {
    gap: 8%;
  }
  #design .design--frame {
    max-width: 43%;
    right: 29%;
  }
  #design .design--pluton {
    max-width: 16%;
  }
  #design .design--img {
    max-width: 21%;
    top: 12.6%;
  }
  #design .design--x2 {
    max-width: 3%;
  }
  #design .design--xImg {
    max-width: 5%;
  }
  #design .design--img2 {
    bottom: -27.7%;
    max-width: 59%;
  }
  #Frankie .Frankie--block__img {
    max-width: 57%;
  }
  #design {
    max-width: 100%;
  }
  #Frankie .Frankie--about {
    max-width: 42%;
  }
  #Frankie .Frankie--block__mission {
    width: 98%;
  }
  #Frankie .Frankie--line1 {
    max-width: 38%;
  }
  #Frankie .Frankie--line {
    max-width: 38%;
  }
  #Frankie .Frankie--imgCenter {
    margin: 4% 0 0 47%;
    max-width: 8%;
  }
  #portfolio .portfolio--works {
    max-width: 38%;
  }
  #portfolio .portfolio--img__imgs {
    max-width: 100%;
  }
  #portfolio .portfolio--img__bgr {
    max-width: 50.5%;
  }
  #portfolio .portfolio--block1__block02 {
    max-width: 47%;
  }
  #portfolio .portfolio--block1__block02--lineBlock {
    max-width: 100%;
  }
  #portfolio .portfolio--block1__block02--line2Block {
    max-width: 100%;
  }
  #portfolio .portfolio--block1__block02--lineBlock--line {
    max-width: 88%;
  }
  #portfolio .portfolio--block1__block02--line2Block--line2 {
    max-width: 80%;
  }
  #portfolio .portfolio--block1__block02--line3Block--line3 {
    max-width: 94%;
  }
  #portfolio .portfolio--block1__block02--line3Block {
    max-width: 100%;
  }
  #team .team--block__img--imgs {
    z-index: -1;
    max-width: 100%;
  }
  #team .team--block2__img--imgs {
    z-index: -1;
    max-width: 100%;
  }
  #CEO .CEO--img {
    max-width: 89%;
  }
  #daily .daily--block {
    justify-content: center;
    gap: 20px;
  }
  #daily .daily--block__imgs {
    max-width: 100%;
  }
  #anow .anow--block {
    gap: 10%;
  }
  #anow .anow--text {
    padding: 5% 0 5% 19%;
  }
}
@media (max-width: 1140px) {
  #header .header--burger__lineBurger div {
    display: none;
  }
  #header .header {
    gap: 6%;
  }
  #design .design--img {
    top: 13.3%;
  }
  #design .design--img2 {
    bottom: -33.2%;
  }
  #daily .daily--block2__Input {
    padding: 20px 479px 67px 40px;
  }
  #daily .daily--block2__nameInput {
    padding: 18px 120px 19px 40px;
  }
  #daily .daily--block2__emailInput {
    padding: 18px 120px 19px 40px;
  }
}
@media (max-width: 1024px) {
  #header .header--burger__lineBurger div {
    display: none;
  }
  #design .design--img {
    top: 13.2%;
  }
  #header .header {
    gap: 3%;
  }
  #header .header--navMenu a {
    font-size: 14px;
  }
  #design .design--title {
    font-size: 64px;
  }
  #design .design--title2 {
    font-size: 60px;
  }
  #design .design--btn {
    font-size: 12px;
    padding: 13px 39px;
    margin: 10px 5px 0 0;
  }
  #design .design--btn2 {
    font-size: 12px;
  }
  #design .design--img2 {
    bottom: -27.8%;
  }
  #Frankie .Frankie--about {
    margin: 52px 0 0 -35px;
  }
  #Frankie .Frankie--block__mission {
    font-size: 21px;
  }
  #daily .daily--block2__nameInput {
    padding: 18px 110px 19px 40px;
  }
  #daily .daily--block2__emailInput {
    padding: 18px 110px 19px 40px;
  }
  #daily .daily--block2__Input {
    padding: 20px 459px 67px 40px;
  }
  #daily .daily--block2__tottenham {
    font-size: 17px;
  }
  #anow .anow--block {
    gap: 9%;
  }
}
@media (max-width: 992px) {
  #header .header--burger__lineBurger div {
    display: none;
  }
  #anow .anow--block {
    gap: 8%;
  }
  #header .header--navMenu a {
    font-size: 13px;
  }
  #design .design--title {
    font-size: 62px;
  }
  #design .design--title2 {
    font-size: 57px;
  }
  #design .design--btn {
    font-size: 10px;
  }
  #design .design--btn2 {
    font-size: 10px;
  }
  #design .design--img2 {
    bottom: -27.1%;
  }
  #daily .daily--block2__btn {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  #header .header--burger__lineBurger div {
    display: none;
  }
  #design .design--img {
    top: 13.2%;
  }
  #design .design--title {
    font-size: 50px;
    margin-top: -52px;
  }
  #header .header--navMenu a {
    font-size: 11px;
    margin: 15px;
  }
  #design .design--title2 {
    font-size: 44px;
    margin-top: -20px;
  }
  #design .design--btn2 {
    padding: 8px 23px;
  }
  #design .design--btn {
    padding: 10px 23px;
  }
  #design .design--img2 {
    bottom: -15.3%;
  }
  #Frankie .Frankie--blockBottom__lamp {
    max-width: 9%;
  }
  #Frankie .Frankie--blockBottom__imgs {
    max-width: 29%;
  }
  #portfolio .portfolio--block__btn {
    padding: 9px 28px;
    font-size: 12px;
  }
  #anow .anow--block__menu {
    font-size: 8px;
  }
  #anow .anow--block__title {
    font-size: 17px;
  }
  #anow .anow--text__all {
    font-size: 9px;
  }
  #anow .anow--text__digital {
    font-size: 8px;
  }
  #anow .anow--block__mini-block--contac {
    font-size: 12px;
  }
  #anow .anow--block__mini-block--contac2 {
    font-size: 12px;
  }
  #anow .anow--block__mini-block--contac3 {
    font-size: 12px;
  }
  #anow .anow--block__anow {
    font-size: 32px;
  }
  #daily .daily--block2__btn {
    padding: 12px 24px;
  }
  #daily .daily--block2__nameInput {
    padding: 10px 90px 15px 30px;
  }
  #daily .daily--block2__emailInput {
    padding: 10px 60px 15px 30px;
  }
  #daily .daily--block2__nameInput {
    padding: 10px 20px 15px 30px;
  }
  #daily .daily--block2__emailInput {
    padding: 10px 20px 15px 30px;
  }
  #daily .daily--block2__Input {
    padding: 15px 269px 40px 30px;
  }
  #team .team--btn {
    font-size: 10px;
    margin: 30% 0 8% 45%;
    padding: 9px 18px;
  }
  #team .team--block2__img--text {
    font-size: 17px;
    margin-top: -122px;
  }
  #team .team--block__img--text {
    font-size: 17px;
    margin-top: -139px;
  }
  #team .team--awesome {
    font-size: 25px;
  }
  #team .team--logo {
    font-size: 10px;
  }
  #Frankie .Frankie--about {
    margin: 52px 0 0 0;
  }
  #portfolio .portfolio--block1__modern {
    font-size: 27px;
  }
  #portfolio .portfolio--block1__skills {
    font-size: 10px;
  }
  #portfolio .portfolio--block1__need {
    font-size: 9px;
  }
  #CEO .CEO--img {
    margin: 68px 30px 60px;
  }
}
@media (max-width: 576px) {
  #header .header--burger__lineBurger div {
    display: block;
  }
  #header .header--navMenu a {
    display: none;
  }
  #design .design--title {
    font-size: 36px;
    margin-top: -71px;
  }
  #design .design--title2 {
    font-size: 31px;
    margin-top: -37px;
  }
  #design .design--btn2 {
    padding: 5px 10px;
    font-size: 7px;
  }
  #design .design--btn {
    padding: 6px 10px;
    font-size: 7px;
  }
  #design .design--btn {
    margin: 1px 5px 0 0;
  }
  #design .design--img2 {
    bottom: -9.7%;
  }
  #Frankie .Frankie--blockTitle__Quisque {
    font-size: 10px;
    line-height: 17px;
  }
  #Frankie .Frankie--blockTitle__Ultimate {
    font-size: 30px;
    line-height: 41px;
  }
  #Frankie .Frankie--blockTitle__miniText {
    font-size: 12px;
  }
  #Frankie .Frankie--blockTitle__Maecenas {
    font-size: 12px;
    line-height: 17px;
  }
  #Frankie .Frankie--block__mission {
    font-size: 12px;
    line-height: 20px;
  }
  #Frankie .Frankie--block__Kao {
    font-size: 11px;
    margin: 20px 0 20px 0;
  }
  #Frankie .Frankie--block__pao {
    font-size: 7px;
  }
  #Frankie .Frankie--blockBottom__need {
    font-size: 8px;
    line-height: 14px;
  }
  #portfolio .portfolio--block__latest {
    font-size: 8px;
  }
  #portfolio .portfolio--block__look {
    font-size: 19px;
    line-height: 26px;
  }
  #portfolio .portfolio--block__btn {
    padding: 9px 18px;
    font-size: 9px;
  }
  #portfolio .portfolio--block1__modern {
    font-size: 18px;
    line-height: 23px;
  }
  #portfolio .portfolio--block1__skills {
    font-size: 8px;
  }
  #portfolio .portfolio--block1__need {
    font-size: 6px;
    line-height: 11px;
  }
  #portfolio .portfolio--block1__block02--illustration {
    font-size: 13px;
    margin-bottom: -23px;
  }
  #portfolio .portfolio--block1__block02--ninety {
    font-size: 13px;
  }
  #portfolio .portfolio--block1__block02--web {
    font-size: 13px;
    margin-bottom: -23px;
  }
  #portfolio .portfolio--block1__block02--eghty {
    font-size: 13px;
  }
  #portfolio .portfolio--block1__block02--development {
    font-size: 13px;
    margin-bottom: -23px;
  }
  #portfolio .portfolio--block1__block02--ninetyFive {
    font-size: 13px;
  }
  #team .team--awesome {
    font-size: 21px;
  }
  #team .team--block__img--text {
    font-size: 13px;
    margin-top: -94px;
  }
  #team .team--block__img--text2 {
    font-size: 8px;
  }
  #team .team--block2__img--text {
    font-size: 13px;
    margin-top: -94px;
  }
  #team .team--block2__img--text2 {
    font-size: 8px;
  }
  #team .team--block2 {
    gap: 20px;
    margin-top: 85px;
  }
  #team .team--btn {
    margin: 21% 0 8% 43%;
  }
  #CEO .CEO--title {
    font-size: 11px;
    line-height: 20px;
  }
  #CEO .CEO--blockBottom__text {
    font-size: 9px;
  }
  #CEO .CEO--blockBottom__img {
    max-width: 20%;
  }
  #daily .daily--block__title--marh {
    font-size: 8px;
  }
  #daily .daily--block__title--lifestyle {
    font-size: 8px;
  }
  #daily .daily--block__title {
    gap: 7px;
  }
  #daily .daily--block__text {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 23px;
  }
  #daily .daily--block__more {
    font-size: 9px;
  }
  #daily .daily--log {
    font-size: 8px;
    margin: 70px 0 0 0;
  }
  #daily .daily--logo {
    font-size: 22px;
  }
  #daily .daily--block2 {
    margin-top: 21px;
  }
  #daily .daily--block2__address {
    font-size: 11px;
  }
  #daily .daily--block2__tottenham {
    font-size: 13px;
    line-height: 22px;
  }
  #daily .daily--block2__information {
    font-size: 11px;
  }
  #anow .anow--block {
    gap: 3%;
  }
  #anow .anow--block__mini-block {
    gap: 4px;
  }
  #anow .anow--block__mini-block--contac3 {
    font-size: 9px;
  }
  #anow .anow--block__mini-block--contac {
    font-size: 10px;
  }
  #anow .anow--block__mini-block--contac2 {
    font-size: 10px;
  }
  #anow .anow--block__anow {
    font-size: 22px;
    margin: 93px 0 0 0;
  }
  #anow .anow--block__menu {
    line-height: 4px;
  }
  #anow .anow--text__all {
    font-size: 7px;
  }
  #anow .anow--text__digital {
    font-size: 7px;
  }
  #daily .daily--block2__btn {
    padding: 8px 12px;
    font-size: 8px;
  }
  #daily .daily--block2__nameInput {
    padding: 10px 2px 15px 12px;
    font-size: 10px;
  }
  #daily .daily--block2__emailInput {
    padding: 10px 2px 15px 12px;
    font-size: 10px;
  }
  #daily .daily--block2__Input {
    padding: 12px 144px 40px 12px;
    font-size: 12px;
    margin-bottom: 31px;
  }
  #design .design--img2 {
    bottom: -6.9%;
  }
  #design .design--xImg {
    bottom: 4%;
  }
  #portfolio .portfolio {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=media.css.map */
